<h2>註冊</h2>
<style>
div{
  margin-right:10px
}
</style>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container-fluid row">
  <div class="column-sm-3 portfolio-item">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title">
          <a><%= f.label :email %> </a>
        </h6>
        <div class="field card-text">
          <br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        
      </div>
    </div>
  </div>
  <div class="column-sm-3 portfolio-item">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title">
          <a><%= f.label :name %> </a>
        </h6>
        <div class="field card-text">
          <br />
          <%= f.text_field :name, autofocus: true %>
        </div>        
      </div>
    </div>
  </div>
  <div class="column-sm-3 portfolio-item">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title">
          <a><%= f.label :password %> </a>
        </h6>
        <div class="field card-text">
          
          <% if @minimum_password_length %>
          <em>(最少 <%= @minimum_password_length %> 碼)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>      
      </div>
    </div>
  </div>
  <div class="column-sm-3 portfolio-item">
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-title">
          <a><%= f.label :password_confirmation %></a>
        </h6>
        <div class="field card-text">
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>    
      </div>
    </div>
  </div>
</div>
  

  
  

  

<div class="actions">
  <%= f.submit "註冊" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
