<style>
    
    #title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
</style>
<p id="notice"><%= notice %></p>

<div class="container-fluid row">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 col-md-12"><%=@category_name%>作品
    </h1>

  <div class="row col-md-10">
    <% if @books!=nil %>

      <% @books.each do |book| %>
        <div class="col-sm-3 portfolio-item">
          <div class="card h-100">
            <a href="/books/<%=book.id%>"><img class="card-img-top" src="<%= book.get_cover%>" alt=""></a>
            <div class="card-body">
              <h4  id="title" style="min-height:30px;font-size:20px;">
                <a href="/books/<%= book.id %>" style="text-overflow: ellipsis;"><%= book.book_name %>  </a>
              </h4>
              
              <br>
              <a href="/search?search=<%=book.get_author%>"><em><%=book. get_author%></em></a>
              <p class="card-text">
                <% book.categories.each do |category|%>
                  <a href="/books/?category=<%=category.id%>" class="badge badge-pill badge-primary"><%=category.show%></a>
                <%end%>
              </p>
              
              
              
              <%if user_signed_in?%>
                <%if book.check_subscriber(current_user.id)%>
                  <button class="btn btn-warning unsubscribe" data-book-id="<%=book.id%>">不收藏</button>
                <% else%>
                  <button class="btn btn-primary subscribe" data-book-id="<%=book.id%>">收藏</button>
                <% end%>
              <%end%>
            </div>
          </div>
        </div>
      <%end %>
    <%end%>

  </div>

      <!-- Sidebar Widgets Column -->
  <div class="col-sm-2">
        <!--
        
        <div class="card mb-4">
          <h5 class="card-header">搜尋</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
        -->

        <!-- Categories Widget -->
    <div class="card my-12">
      <h5 class="card-header">推薦作品</h5>
      <div class="card-body" style="background-color:gray;">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled mb-0">
              <%@recs.each do |rec|%>
                <li> 
                  <a href="/books/<%=rec.id%>" style="color:white;font-size:16px;"><%=rec.book_name%></a>
                  <hr style="color:white;">
                </li>
              <%end%>
              
              
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <div class="apple_pagination">
      <%=will_paginate @books%>
    </div>
    
        
  </div>
</div>
<script>
  $('.subscribe').click(function(){
      var bookId = $(this).data('book-id')
      $.ajax({
          method: "POST",
          url: `/books/${bookId}/subscribe`
      })
      .done(function( msg ) {
          if(msg){
              location.reload()
          }
      });
  })
  $('.unsubscribe').click(function(){
      var bookId = $(this).data('book-id')
      $.ajax({
          method: "POST",
          url: `/books/${bookId}/unsubscribe`
      })
      .done(function( msg ) {
          if(msg){
              location.reload()
          }
      });
  })
</script>