
<style>
/*	2020-05-31上==============================================*/
.allbox {
    width: 70%;
    background-color: #fff;
    padding: 30px;
}
.inbox1 img {
    width: 21%;
    float: left;
    margin-right: 15px;
}
.allbox hr {
    border: 1px solid #958068;
}
.inbox1 {
    height: 300px;
}
.inbox1 img {
    box-shadow: 0 1px 6px rgba(0,0,0,.35);
}
.inbox2 {
    min-height: 200px;
}
.inbox3 {
    min-height: 300px;
}
.navbar-collapse li {
    margin: 5px;
}
.navbar-nav-item a:hover {
    transition: all .5s linear;
    border-bottom: 1px solid #958068;
    color: #958068!important;
}
.form-control {
    border-radius: 50rem;
    background-color: rgba(0,0,0,0.00);
    border-right: none;
}
.mybtn-search {
    border-radius: 0rem 50rem 50rem 0rem;
    background-color: rgba(0,0,0,0.00);
    border: 1px solid #ced4da;
    border-left: none;
}
.list-group-item {
    color: #000;
}
.list-group-item:hover {
    color: #958068;
    transition: all .2s linear;
}
/*	2020-05-31下==============================================*/
</style>

<div style="margin-top: 30px;"> 
  <!--Adds a 600-pixel thing between page content and footer-->
  
  <div class="inbox1 allbox container"><a href=""> <img src="<%=@book.get_cover%>" alt=""> </a>
    <h1 style="display: inline-block"><%=@book.book_name%></h1>
    <h4>作者：<%=@book.get_author%></h4>
  </div>
  <div class="inbox2 allbox container">
    <h3 style="color:#958068">作品信息</h3>
    <hr>
    <p style="font-family:DFKai-sbl; font-size:16px;"><%=@book.summary.html_safe%></p>
  </div>
  <div class="inbox3 allbox container">
    <h3 style="color:#958068">章節目錄</h3>
    <hr>
    <div class="row container" style="margin-bottom:300px"> 
      <!-- Sidebar Column --> 
      
      <!--Creates chapter variable--> 
      
      <!-- For each chapter, create a box that takes up 3 portions of the page-->
      <%@book.chapters.each do |chapter|%>
        <div class="col-sm-3"> <a href="/books/<%=@book.id%>/chapters/<%=chapter.id%>" class="list-group-item"><%=chapter.title%></a></div> 
      <%end%>
      
    </div>
    
    <!-- /.row --> 
  </div>
  <div class="inbox4 allbox container">
    <h3 style="color:#958068">留言板</h3>
    <hr>
    <%if current_user !=nil && @book.chapters[0].id != nil%>
    <%begin%>
    <div class="text-left">
      <form action="/comments" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="comment[user_id]"  value=<%= current_user.id%>>
        <!--use <%=%> for current_user.id to make it detectable by value on the html -->
        <textarea id="editor" name="comment[comment]" cols="100" rows="5"></textarea>
        <input type="hidden" name="comment[<%=@book.chapters[0].id%>]" value=<%= @chapter.id%>>
        <br>
        <button class="btn btn-success">送出</button>
      </form>
    </div>
    <%rescue%>
    <%end%>
    <%end%>
    <%@comments.each do |comment|%>
      <div class="column-sm-3">
        <%name= User.find(comment.get_author).name%>
      <%@stopwords.each do |word|%>
        <%name=name.gsub(word,"*")%>
      <%end%>
      <%=name%>:
      </div>
      <div class="column-sm-9" style="margin-bottom:20px;"><%=comment.comment%></div>
    <%end%>
    <%= link_to "回到上一頁", :back %>
  </div>
