<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr {
    font-size:150%; 
    border-spacing: 5px;
  }
  table {
    width: 100%;
  }
  
  
</style>
<%if current_user.admin?%>
  <div class="ucontainer">
      <h3>所有作品</h3>
      
      <div class="row container">
          <table>
            <tr>
              <th><a>書籍名稱</a></th>
              <th><a>作者名稱</a></th>
              <th><a>收藏數</a></th>
            </tr>
              <%@books.each do |book|%>
                  <tr>
                      <th><a href="/books/<%=book.id %>"><%= book.book_name %></a></th>
                      <th><a><%=book.get_author%></a></th>
                      <th><a><%=book.subscriptions.count()%></a></th>
                      <th><a class="btn btn-primary" href="/books/<%= book.id%>/dashboard/">編輯</a></th>
                  </tr>
                  
              <%end%>

          </table>
      </div>
  </div>
<%end%>
<%if current_user.artist=='leader'%>
  <div class="ucontainer">
      <h3>所有作品</h3>
      
      <div class="row container">
          <table>
              <%@books.each do |book|%>
                  <tr>
                      <th><a href="/books/<%=book.id %>"><%= book.book_name %></a></th>
                      <th><a><%=book.get_author%></a></th>
                      <th><a class="btn btn-primary" href="/books/<%= book.id%>/edit/">編輯封面</a></th>
                  </tr>
                  
              <%end%>

          </table>
      </div>
  </div>
<%end%>    