<style>
    *{
      font-family: DFKai-sb;
      
    }
    
    .summary{
      
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
    
    .cat-item{
      float: left;
      min-width: 80px;
      min-height: 100px;
      background-color: #FFFFFF;
      margin:1px;
      font:600 12px PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
      text-align: center;
      line-height: 110px;
    }
    .cat-item:hover{
      background-color: white !important;
      color: black !important;
    }

    .announce{
      
      background-color: #FFFFFF;
      height:50%;
      margin:1px;
    }
    .covers{
      height:50%;
      background-color: #FFFFFF;
     
      
    }
    
    


</style>
<header>
  <div class="container-fluid text-center" style="margin-bottom: 30px; ">    
    <div class="row content">
      <div class="col-sm-2">
        
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "east_fi")[0].id%>">玄幻</a>
      
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "old_love")[0].id%>">古言</a>
      
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "urban_love")[0].id%>">都言</a>
      
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "short")[0].id%>">短篇</a>
      
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "foreign")[0].id%>">外文</a>
        
        
        <a class="cat-item" href="/books/?category=<%=Category.where(name: "bl")[0].id%>" >耽美</a>
        
        
      </div>
      <div class="col-sm-7"> 
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://imgur.com/Jv0urki.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <!--<h3>First Slide</h3>
                <p>This is a description for the first slide.</p>-->
              </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://imgur.com/lUOZoxi.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <!--<h3>Second Slide</h3>
                <p>This is a description for the second slide.</p>-->
              </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
              <div class="carousel-caption d-none d-md-block">
                <!--<h3>Third Slide</h3>
                <p>This is a description for the third slide.</p>-->
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="announce" >
          <b>網站公告</b>
        </div>
        <div class="covers" >
          <b>今日必讀</b>
          <div style="width:50%;"> 
            <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner"  role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('http://placehold.it/600x800');height:100px;width:75px;">
                  <div class="carousel-caption d-none d-md-block">
                    <!--<h3>First Slide</h3>
                    <p>This is a description for the first slide.</p>-->
                  </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('http://placehold.it/600x800');height:100px;width:75px;">
                  <div class="carousel-caption d-none d-md-block">
                    <!--<h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p>-->
                  </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('http://placehold.it/600x800');height:100px;width:75px;">
                  <div class="carousel-caption d-none d-md-block">
                    <!--<h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

  <!-- Page Content -->
<div class="container"> 
  <!-- 
    <% if user_signed_in?%>
      <h1><%=current_user.name%>,歡迎來到東方文創！</h1>
    <% else%>
      <h1 class="my-4">歡迎來到夢想中文網!</h1>
    <%end%>
  -->
    <!-- Portfolio Section -->
  <h2 style="text-align:center">今日作品</h2>
    <hr>
    <div class="container row">
      <% @todays.each do |book| %>
        <div class="col-sm-4 portfolio-item">
          <div class="card h-100">
            <a href="/books/<%=book.id%>"><img class="card-img-top"  src=<%=book.get_cover%> alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/books/<%= book.id %>"><%= book.book_name %></a>
              </h4>
              <div class="card-text summary" style="max-height:55px;"><%= book.summary.html_safe %></div>
              <%if user_signed_in?%>
                <a class="btn btn-primary" href="/books/<%= book.id %>">訂閱</a>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <!-- /.row -->

    

    <!-- Call to Action Section -->
    

</div>
  <!-- /.container -->

  
  
