<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr {
    font-size:150%; 
    border-spacing: 5px;
  }
  table {
    width: 100%;
  }
  
  *{
    font-family: DFKai-sb;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container-fluid row">
    <!-- Page Heading/Breadcrumbs -->
    
    
    <div class="col-sm-9">
      <h1 >您的收藏
      </h1>
      <hr>
      <table style="margin-bottom:30px">
        <% @books.each do |book| %>
          <%if book.check_subscriber(current_user.id)%>
            <tr>
              <th><%book.get_categories.each do |category|%>
                <a href="/books/?category=<%=category.id%>"><%=category.show%></a>
              <%end%>
              </th>
              <th><a href="/books/<%= book.id %>"><%= book.book_name %></a></th>
              <th><a><%=book.get_author%></a>
              <th>
                <%if book.check_subscriber(current_user.id)%>
                  <button class="btn btn-warning unsubscribe" data-book-id="<%=book.id%>">不收藏</button>
                <% else%>
                  <button class="btn btn-primary subscribe" data-book-id="<%=book.id%>">收藏</button>
                <% end%></th>
            </tr>
          <%end%>
        <%end %>
      </table>
      

      <h1 style="margin-top:60px">您的作品
      </h1>
      <hr>
      <div class="col-sm-9">
        <table>
          <% @pieces.each do |piece| %>
            <tr>
              <th>
                <%piece.get_categories.each do |category|%>
                  <a href="/books/?category=<%=category.id%>"><%=category.show%></a>
                <%end%>
              </th>
              <th><a href="/books/<%= piece.id %>"><%= piece.book_name %></a></th>
              <th><a class="btn btn-primary" href="/books/<%= piece.id%>/dashboard/">編輯</a></th>
            </tr>
          <%end%> 
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card my-3">
        <h5 class="card-header">會員功能</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a class="btn btn-primary" href="/users/edit">編輯使用者資料 </a>
                  </li>
                  <br>
                  <li>
                    <a class="btn btn-primary" href="/books/new">新增作品</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  $('.subscribe').click(function(){
      var bookId = $(this).data('book-id')
      $.ajax({
          method: "POST",
          url: `/books/${bookId}/subscribe`
      })
      .done(function( msg ) {
          if(msg){
              location.reload()
          }
      });
  })
  $('.unsubscribe').click(function(){
      var bookId = $(this).data('book-id')
      $.ajax({
          method: "POST",
          url: `/books/${bookId}/unsubscribe`
      })
      .done(function( msg ) {
          if(msg){
              location.reload()
          }
      });
  })
</script>