<style>
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr {
    font-size:150%; 
    border-spacing: 5px;
  }
  table {
    width: 100%;
  }
</style>
<p id="notice"><%= notice %></p>

<div class="container-fluid row">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3 col-md-12">您的收藏
    </h1>
    <div class="row col-md-12">
      <table>
        <% @books.each do |book| %>
          <%if book.check_subscriber(current_user.id)%>
            <tr>
              <th><%= book.book_name %></th>
              <th><%= book.categories.pluck('show').join(',') %></th>
              <th><%= book.summary %></th>
              <th><a href="/books/<%= book.id %>">目錄</a></th>
              <th>
                <%if book.check_subscriber(current_user.id)%>
                  <button class="btn btn-warning unsubscribe" data-book-id="<%=book.id%>">不收藏</button>
                <% else%>
                  <button class="btn btn-primary subscribe" data-book-id="<%=book.id%>">收藏</button>
                <% end%></th>
            </tr>
          <%end%>
        <%end %>
      </table>

      </div>

      <!-- Sidebar Widgets Column -->

    <h1 class="mt-4 mb-3 col-md-12">您的作品
      <a class="btn btn-primary" href="/books/new">新增作品</a>
    </h1>
    <div class="row col-md-12">

      <table>
        <% @pieces.each do |piece| %>
          <tr>
            <th><%= piece.book_name %></th>
            <th><%= piece.categories.pluck('show').join(',') %></th>
            <th><%= piece.summary %></th>
            <th><a href="/books/<%= piece.id %>">目錄</a></th>
            <th><a href="/books/<%= piece.id%>/dashboard/">編輯</a></th>
          </tr>
        <%end %> 
      </table>
  </div>
</div>