<style>
/*2020-06-03=======================================================*/
	.sign_in-btn{
		border:1px solid #958068;
		color: #958068;
		margin-bottom: 10px;
	}
	.sign_in-btn:hover{
		background-color:#958068;
		color: #fff;
	}
	#submit-btn:hover{
		color: #958068;
	}
  div{
  margin-right:10px
}
	#submit-btn{
		border:1px solid #958068;
		color: #958068;
	}
	#submit-btn:hover{
		background-color:#958068;
		color: #fff;
	}
	#sign_in-btn:hover{
		color: #958068;
	}
</style>

<div style="height:40px"></div>
<div style='min-height: 600px;'> 
<div class="container">
<div class="row">
<div class="col-md-3 col-12"></div>
<div class="col-md-3 col-12">
<img src="/images/logo.png" alt="" style="width:100%">
	</div>
<div class="col-md-3 col-12">
   <h1 class="text-center" style="color:#958068;width: 100%">登入</h1>
<hr style="border: 1px solid #958068">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :login %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "登入" %>
  </div>
<% end %>



 <a href="/users/sign_up" id="submit-btn">註冊</a>

</div>
<div class="col-md-3 col-12"></div>	
</div>
</div>
</div>

<script>
setTimeout(getname,50);
 function getname(){
 var x = document.getElementsByName("commit");
 x[0].classList.add("btn"); 
 x[0].classList.add("sign_in-btn"); 
 }
 
</script>