<style>

body{
  background-color:#fefbd8;
}
p{
  
  
}

</style>
<div class="container d-flex align-content-between flex-wrap" style="min-height: 600px; margin-bottom:60px"> 
  
  <div class="col-12">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" id="title">
    <!--Uses @which_chapter variable created in chapters_controller-->
      <%=@chapter.title%>
    </h1>
    <a href="/books/<%=@chapter.book.id %>" style="font-size:18px;" class="btn ">目錄</a>
    <div class="container fluid row">
      
      <select class="column-sm-2" id="selectFontFamily" name="selectFontFamily" onchange="updatefamily()">
        <option> Serif </option>
        <option> Arial </option>
        <option> Sans-Serif </option>                                  
        <option> DFKai-sb</option>                             
      </select>
      
      <select class="column-sm-2" id="selectFontSize" name="selectFontSize" onchange="updatesize()" style="margin-right:20px;">
        <option>16px</option>
        <option>20px</option>
        <option>24px</option>
        <option>28px</option>
        <option>32px</option>
      </select>

      <%if @chapter.has_prev%>
        <a class="btn btn-primary column-sm-3" style="text-align:right; margin-right:20px;" href="/books/<%=@chapter.book.id%>/chapters/<%=@chapter.get_prev%>">前一章</a>
      <%end%>
      <%if @chapter.has_next%>
        <a class="btn btn-primary column-sm-3" style="text-align:right;margin-right:50px;" href="/books/<%=@chapter.book.id%>/chapters/<%=@chapter.get_next%>">下一章</a>
      <%end%>
    
    </div>
    <div id="content" style="min-height:600px;font-size:16px;margin-top:50px;margin-bottom:50px;">
      <%=@chapter.content.html_safe%>
    </div>
    <div class="container fluid row">
      <%if @chapter.has_prev%>
        <a class="btn btn-primary column-sm-3" style="text-align:right;margin-right:20px;" href="/books/<%=@chapter.book.id%>/chapters/<%=@chapter.get_prev%>">前一章</a>
      <%end%>
      <%if @chapter.has_next%>
        <a class="btn btn-primary column-sm-3" style="text-align:right" href="/books/<%=@chapter.book.id%>/chapters/<%=@chapter.get_next%>">下一章</a>
      <%end%>
      
    </div>
    
    
  </div>
</div>
<script>
    function updatefamily() {
      var selector = document.getElementById('selectFontFamily');
      var family = selector.options[selector.selectedIndex].value;
      var contents = document.getElementById("content").querySelectorAll("p")
      var title = document.getElementById('title')
      
      var i;
      for(i = 0 ; i<contents.length;i++){
        contents[i].style.fontFamily=family;
      }
      
      title.style.fontFamily = family;        
    }

    function updatesize() {
      var selector = document.getElementById('selectFontSize');
      var size = selector.options[selector.selectedIndex].value;
      var contents = document.getElementById("content")
      var title = document.getElementById('title')
      
      contents.style.fontSize=size;
      contents.style.lineHeight=size/2;
      
    
    }

</script>

  <div class="container" style="margin-bottom:50px;">
  
    <%if user_signed_in?%>
      <h3>
      留言
      </h3>
      <div class="text-left">
        <form action="/comments" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="comment[user_id]"  value=<%= current_user.id%>>
          <!--use <%=%> for current_user.id to make it detectable by value on the html -->
          <textarea id="editor" name="comment[comment]" cols="100" rows="5"></textarea>
          <input type="hidden" name="comment[chapter_id]" value=<%= @chapter.id%>>
          <br>
          <button class="btn btn-success">送出</button>
        </form>
      </div>
    <%end%>
  </div>
  <div class="container">
    <%@comments.each do |comment|%>
      <div class="column-sm-3"><%=User.find(comment.get_author).name%>:</div>
      <div class="column-sm-9" style="margin-bottom:20px;"><%=comment.comment%></div>
    <%end%>
  </div>



